dataset/WFL_extractions.csv
dataset/Win for Life-archivio-estrazioni-2013.txt
dataset/Win for Life-archivio-estrazioni-2014.txt
dataset/Win for Life-archivio-estrazioni-2015.txt
dataset/Win for Life-archivio-estrazioni-2016.txt
dataset/Win for Life-archivio-estrazioni-2017.txt
dataset/Win for Life-archivio-estrazioni-2018.txt
dataset/Win for Life-archivio-estrazioni-2019.txt
dataset/Win for Life-archivio-estrazioni-2020.txt
dataset/Win for Life-archivio-estrazioni-2021.txt
dataset/Win for Life-archivio-estrazioni-2022.txt
dataset/Win for Life-archivio-estrazioni-2023.txt
dataset/analysis/histogram_timeseries.jpeg
dataset/preprocessed data/normalizer.pkl
dataset/preprocessed data/OHE_encoder_extractions.pkl
dataset/preprocessed data/OHE_encoder_special.pkl
model/MultiSeqWFL_20231130H1013/keras_metadata.pb
model/MultiSeqWFL_20231130H1013/model_parameters.json
model/MultiSeqWFL_20231130H1013/MultiSeqWFL_model.png
model/MultiSeqWFL_20231130H1013/saved_model.pb
model/MultiSeqWFL_20231130H1013/training_history.jpeg
model/MultiSeqWFL_20231130H1013/variables/variables.data-00000-of-00001
model/MultiSeqWFL_20231130H1013/variables/variables.index
model/MultiSeqWFL_20231206H1752/keras_metadata.pb
model/MultiSeqWFL_20231206H1752/model_parameters.json
model/MultiSeqWFL_20231206H1752/MultiSeqWFL_model.png
model/MultiSeqWFL_20231206H1752/saved_model.pb
model/MultiSeqWFL_20231206H1752/training_history.jpeg
model/MultiSeqWFL_20231206H1752/variables/variables.data-00000-of-00001
model/MultiSeqWFL_20231206H1752/variables/variables.index
model/MultiSeqWFL_20231209H1905/keras_metadata.pb
model/MultiSeqWFL_20231209H1905/model_parameters.json
model/MultiSeqWFL_20231209H1905/MultiSeqWFL_model.png
model/MultiSeqWFL_20231209H1905/saved_model.pb
model/MultiSeqWFL_20231209H1905/training_history.jpeg
model/MultiSeqWFL_20231209H1905/preprocessed data/MLB_encoder_extractions.pkl
model/MultiSeqWFL_20231209H1905/preprocessed data/OHE_encoder_special.pkl
model/MultiSeqWFL_20231209H1905/variables/variables.data-00000-of-00001
model/MultiSeqWFL_20231209H1905/variables/variables.index
model/MultiSeqWFL_20231209H2302/keras_metadata.pb
model/MultiSeqWFL_20231209H2302/model_parameters.json
model/MultiSeqWFL_20231209H2302/MultiSeqWFL_model.png
model/MultiSeqWFL_20231209H2302/saved_model.pb
model/MultiSeqWFL_20231209H2302/training_history.jpeg
model/MultiSeqWFL_20231209H2302/preprocessed data/MLB_encoder_extractions.pkl
model/MultiSeqWFL_20231209H2302/preprocessed data/OHE_encoder_special.pkl
model/MultiSeqWFL_20231209H2302/variables/variables.data-00000-of-00001
model/MultiSeqWFL_20231209H2302/variables/variables.index
